---
pageClass: reference
---

# Interface: ValidationResult

Defined in: packages/riviere-query/src/features/querying/domain/validation-result.ts:4

## Riviere-role

value-object

## Properties

### errors

> `readonly` **errors**: [`ValidationError`](ValidationError.md)[]

Defined in: packages/riviere-query/src/features/querying/domain/validation-result.ts:7

***

### valid

> `readonly` **valid**: `boolean`

Defined in: packages/riviere-query/src/features/querying/domain/validation-result.ts:6
