---
pageClass: reference
---

# Interface: ValidationResult

Defined in: [packages/riviere-query/src/features/querying/domain/graph-validation.ts:23](https://github.com/NTCoding/living-architecture/blob/main/packages/riviere-query/src/features/querying/domain/graph-validation.ts#L23)

## Riviere-role

value-object

## Properties

### errors

> **errors**: [`ValidationError`](ValidationError.md)[]

Defined in: [packages/riviere-query/src/features/querying/domain/graph-validation.ts:25](https://github.com/NTCoding/living-architecture/blob/main/packages/riviere-query/src/features/querying/domain/graph-validation.ts#L25)

***

### valid

> **valid**: `boolean`

Defined in: [packages/riviere-query/src/features/querying/domain/graph-validation.ts:24](https://github.com/NTCoding/living-architecture/blob/main/packages/riviere-query/src/features/querying/domain/graph-validation.ts#L24)
