---
pageClass: reference
---

# Interface: ValidationResult

Defined in: packages/riviere-schema/dist/published-language/graph-validation.d.ts:17

## Riviere-role

value-object

## Properties

### errors

> `readonly` **errors**: readonly [`ValidationError`](ValidationError.md)[]

Defined in: packages/riviere-schema/dist/published-language/graph-validation.d.ts:19

***

### valid

> `readonly` **valid**: `boolean`

Defined in: packages/riviere-schema/dist/published-language/graph-validation.d.ts:18
