name: Semgrep

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  semgrep:
    name: Security Scan
    runs-on: ubuntu-latest
    permissions:
      actions: read
      contents: read
      security-events: write
    concurrency:
      group: semgrep-${{ github.ref }}
      cancel-in-progress: true
    container:
      image: semgrep/semgrep
    if: github.actor != 'dependabot[bot]'

    steps:
      - uses: actions/checkout@v4

      - name: Run Semgrep
        run: semgrep scan --config auto --sarif --output semgrep.sarif

      - name: Upload to GitHub Security
        uses: github/codeql-action/upload-sarif@v3
        if: always()
        with:
          sarif_file: semgrep.sarif
